!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/*
!**/src/main/resources/public.pem
!**/src/main/resources/private.pem
!**/src/main/resources/autorizacoes.script
!**/src/main/resources/application.properties
/src/main/resources/application.properties
/src/main/resources/*
src/main/resources/application.properties
src/main/resources/*